  <ion-toolbar>
    <ion-tabs>
      <!-- Tab bar -->
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="goToRoute('/home/reservation')">
          <ion-icon name="layers" size="large"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="goToRoute('/home/flights')">
          <ion-icon name="airplane" size="large"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="goToRoute('/home/profile')">
          <ion-icon name="finger-print" size="large"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
