<ion-header>
  <ion-toolbar>
    <ion-title>Welcome!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>AirSales</h2>

  <form #flightsForm="ngForm" (ngSubmit)="searchFlights()">
    <ion-grid>
      <ion-row>
          <ion-col size="5">
            <ion-item fill="outline">
              <ion-label color="secondary" position="floating">Departures</ion-label>
              <ion-input type="text" ngModel name="departures" required></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="2">
            <ion-icon name="arrow-forward" size="large"></ion-icon>
          </ion-col>
          <ion-col size="5">
            <ion-item fill="outline">
              <ion-label color="secondary" position="floating">Arrivals</ion-label>
              <ion-input type="text" ngModel name="arrivals" required></ion-input>
            </ion-item>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item fill="outline">
            <ion-label color="secondary" position="floating">Date</ion-label>
            <ion-input [value] = "inputModel" (ionInput)="onInput($event)" #calendarInput type="text" ngModel name="date" placeholder="dd/MM/yyyy"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <ion-button type="submit" shape="round" expand="block" [disabled]="flightsForm.invalid">Search</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <app-flight *ngFor="let flight of flights" [flight]="flight"></app-flight>
</ion-content>

<ion-footer>
  <app-tab-bar></app-tab-bar>
</ion-footer>
