<ion-header>
  <ion-toolbar>
    <ion-title>Welcome!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>AirSales</h2>

  <form #flightsForm="ngForm" (ngSubmit)="searchFlights()">
    <ion-grid>
      <ion-row>
          <ion-col>
            <ion-item fill="outline">
              <ion-label color="secondary" position="floating">Departures</ion-label>
              <ion-input type="text" ngModel name="departures" required></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-icon name="arrow-forward" size="large"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-item fill="outline">
              <ion-label color="secondary" position="floating">Arrivals</ion-label>
              <ion-input type="text" ngModel name="arrivals" required></ion-input>
            </ion-item>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item fill="outline">
            <ion-label color="secondary" position="floating">Date</ion-label>
            <ion-input [value] = "inputModel" (ionInput)="onInput($event)" #calendarInput type="text" ngModel name="date" placeholder="dd/MM/yyyy"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col>
          <ion-button type="submit" shape="round" expand="block" [disabled]="flightsForm.invalid">Search</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <app-flight *ngFor="let flight of flights" [flight]="flight" [routerLink]="['/', 'home', 'flights', flight.id]"></app-flight>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <!-- Tab bar -->
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tickets">
          <ion-icon name="layers" size="large"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="flights">
          <ion-icon name="airplane" size="large"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="profile">
          <ion-icon name="finger-print" size="large"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
