<ion-header>
  <ion-toolbar>
    <ion-title>Welcome!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>AirSales</h2>

  <form #searchForm="ngForm" >
    <ion-grid>
      <ion-row>
          <ion-col>
            <ion-item>
              <ion-label color="secondary" position="floating">Departures</ion-label>
              <ion-input type="text" ngModel name="departures" required></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
              <ion-icon name="caret-forward" size="large"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label color="secondary" position="floating">Arrivals</ion-label>
              <ion-input type="text" ngModel name="arrivals" required></ion-input>
            </ion-item>
          </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-tabs>
    <!-- Tab bar -->
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tickets">
        <ion-icon name="layers" size="large"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="flights">
        <ion-icon name="airplane" size="large"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-icon name="finger-print" size="large"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
